<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MaidSafe - The New Decentralized Internet</title>
  <meta http-equiv="Cache-Control" content="public, max-age=3600">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<meta name="description" content="{{ page.description }}">-->
  <!--<meta name="keywords" content="{{ page.keywords }}">-->
  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" href="./assets/img/favicon.ico" />
  <link rel="icon" property='stylesheet' type="image/ico" href="../img/favicon.ico" />
<link href="./styles/style.css" rel="stylesheet"></head>

<body>
  <div id="root"></div>
  <script>
    if (window.location.protocol === 'http:') {
      window.location.href = window.location.href.replace('http:', 'https:');
    }
  </script>
  <!-- OneTrust Cookies Consent Notice (Production CDN, maidsafe.net, en-GB) start -->

  <script src="https://cdn.cookielaw.org/consent/b8397a8a-89f0-4c35-bed3-a2bd4157b8f7.js" type="text/javascript" charset="UTF-8"></script>

  <script type="text/javascript">

    function OptanonWrapper() { }

  </script>

  <!-- OneTrust Cookies Consent Notice (Production CDN, maidsafe.net, en-GB) end -->
<script type="text/javascript" src="bundle-5fe899a7080070c2046d.js" async></script></body>

</html>
